/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* color vars */
:root {
    --dark-gray: #040209;
    --light-gray: #eef2fb;
    --light-purple: #846dcf;
    --pink: #e9b1ea;
    --violet: #482c71;
    --dark-bg: #494d5f;
    --light-bg: #e5eaf5;
    --pinkish-purple: #8a0f86;
}




/***** GENERAL *****/




/***** LAYOUT *****/

body{
    background-color: var(--light-bg);
}

/*** GENERAL SECTION STYLING ***/
.img-bg{
    color: white;
    text-shadow: #040209 2px 2px 2px;
    border-bottom: 2px solid var(--violet); 
    background-repeat: no-repeat;
}


.section{
    width: 100%;
    padding: 2em;
    background: var(--light-bg);
    background-image: url("../images/60-lines.png");
    text-align: center;
    border-bottom: 2px solid var(--violet);


}

.light-section{
    background: var(--pink);
    background-image: url("../images/brilliant.png") !important;

}

.dark-section{
    background: var(--light-bg);
    background-image: url("../images/60-lines.png");
}

.flex-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.flex-section img{
    margin: 1em;
}

.section h2{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    width: 100%;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*** NAV ***/
nav{
    background-color: var(--violet);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 120px;
    border-bottom: 1px solid var(--light-purple);
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}

nav ul li img {
    max-width: 80px;
    border-radius: 100%;
    display: block;
    margin: 0 1em 0 1em;
}

.nav-item{
    text-decoration: none;
    font-family: "Lemonada", cursive;
    color: var(--light-gray);
    font-size: 20px;
    padding: 40px 2em 40px 2em;
    background: var(--violet);
    transition: background 0.3s ease-in-out;
}

.nav-item:hover{
    background: var(--pink);
    transition: background 0.3s ease-in-out;
}





/*** FOOTER ***/
footer{
    background-color: var(--dark-bg);
    color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    height: 120px;
}

.socials{
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5em;
}

.footer-contact{
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.socials a{
    color: var(--light-gray);
    text-decoration: none;
    font-size: 24px;
}

.socials a:hover{
    color: var(--pink);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    font-size: 24px;
}

.footer-contact a{
    color: var(--light-gray);
}

.footer-contact a:hover{
    color: var(--pink);
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}



/* BUTTONS */

.button{
    background: var(--violet);
    border-radius: 12px;
    padding: 0.8em;
    margin: 1em !important;
    text-decoration: none;
    color: var(--light-bg);
    transition: background 0.2s ease-in-out;
}

.button:hover{
    background:var(--pink);
    transition: background 0.2s ease-in-out;
}


/* SPECIAL IMAGE STYLING */
.rounded-img{
    border-radius: 15px;
}









/*** INDEX STYLING ***/

/* HERO */

.index-hero{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.index-video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.index-hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    color: white;
    text-shadow: #040209 2px 2px 2px;
}

.index-hero-text h3{
    font-size: 30px;
}

.index-hero-text h1{
    font-size: 45px;
}

.bandname{
    font-family: "Marck Script", cursive;
    font-size: 95px;
}

.index-logo{
    border-radius: 100%;
}




/*** ABOUT STYLING ***/
.about-hero{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../images/bandphoto.jpg")/*TODO no-repeat needs to be added but bugs the gradient out*/;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    height: 1000px;
    z-index: 1;
    background-position: 50% 20%;
}

#about-para{
    line-height: 2.5em;
    z-index: 3;
}

#heart{
    font-size: 40px;
}

.carousel h2, p{
    text-align: center;
}

.owl-item.active.center {
    transform: scale(1.1, 1.1);
}

.owl-carousel .owl-item img{
    object-fit: cover;
}

figure{
    background-color: var(--light-bg);
    width: 270px;
    padding: 0.5em;
}







/*** CALENDAR STYLING ***/

.calendar-hero{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url("../images/linedup.jpeg")/*TODO no-repeat needs to be added but bugs the gradient out*/;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    height: 600px;
    background-position: 50% 10%;
}


.calendar{
    margin: 0 auto;

}

.calendar-section{
    background-color: var(--light-bg);
    margin: 0;
    padding: 2em 0 2em 0;
}




/*** CONTACT STYLING ***/

.contact-hero{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../images/emery-nomsa-aaliyah.jpeg")/*TODO no-repeat needs to be added but bugs the gradient out*/;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    height: 600px;
    z-index: 1;
    background-position: 50% 20%;
}


#email{
    font-style: italic;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
}

#contact-ig{
    font-size: 40px;
    color:var(--violet);
    transition: color 0.2s ease-in-out;
}

#contact-ig:hover{
    color:var(--pink);
    transition: color 0.2s ease-in-out;
}



/***** MISC TYPOGRAPHY *****/

h1, h2, h3, h4{
    font-family: "Lemonada", cursive;
    margin-top: 0;
    
}

h1{
    font-size: 50px;
    padding-bottom: 1em;
}

h2{
    font-size: 30px;
    padding-bottom: .5em;
}

p{
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
}


/***** MEDIA QUERIES *****/

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {

    /* NAV */
    .openbtn{
        display: none;
    }

    /* GENERAL TYPOGRAPHY */
    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 30px;
    }

    h3{
        font-size: 22px;
    }

    h4{
        font-size: 20px;
    }
    
    p{
        font-size: 18px;
    }

    a{
        font-size: 18px;
    }

    /* FOOTER */
    footer{
        flex-direction: row;
    }

    .index-hero-text{
        width: 1000px;
    }

    .index-hero-text h3{
        font-size: 30px;
    }
    
    .index-hero-text h1{
        font-size: 45px;
    }

    .bandname{
        font-size: 95px;
    }

    .rounded-img{
        width: 400px;
    }

    .index-logo{
        width: 300px;
    }



    #about-para{
        font-size: 20px;
    }


    .calendar{
        width: 800px;
        height: 600px;
    }
}

/* MEDIUM SCREENS */
@media screen and (max-width: 1199px) {
    /* NAV */  
    .openbtn{
        display: none;
    }

    /* GENERAL TYPOGRAPHY */
    h1{
        font-size: 45px;
    }
    
    h2{
        font-size: 30px;
    }

    h3{
        font-size: 22px;
    }

    h4{
        font-size: 20px;
    }
    
    p{
        font-size: 18px;
    }

    a{
        font-size: 18px;
    }

    /* FOOTER */
    footer{
        flex-direction: row;
    }

    /* INDEX */
    .index-hero-text{
        width: 800px;
    }

    .index-hero-text h3{
        font-size: 23px;
    }
    
    .index-hero-text h1{
        font-size: 35px;
    }

    .bandname{
        font-size: 70px;
    }

    .rounded-img{
        width: 400px;
    }

    .index-logo{
        width: 300px;
    }


    /* ABOUT */
    #about-para{
        font-size: 18px;
        margin-left: 1em;
        margin-right: 1em;
    }





    /* CALENDAR */
    .calendar{
        width: 800px;
        height: 400px;
    }
}



/* SMALL SCREENS*/
@media screen and (max-width: 991px) {
    /* NAV */
    nav{
        height: 112px;
    }

    .nav-item{
        font-size: 16px;
        padding: 40px 2em 40px 2em;
    }
    
    .openbtn{
        display: none;
    }

    /* GENERAL TYPOGRAPHY */
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 18px;
    }

    h3{
        font-size: 18px;
    }

    h4{
        font-size: 16px;
    }
    
    p{
        font-size: 18px;
    }

    a{
        font-size: 18px;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        gap: 3em;
        height: 300px;
    }

    .socials{
        margin-top: 0;
    }

    .footer-contact a{
        font-size: 19px;
    }
    

    /* INDEX */
    .index-hero-text{
        width: 600px;
    }

    .index-hero-text h3{
        font-size: 17px;
    }
    
    .index-hero-text h1{
        font-size: 25px;
    }

    .bandname{
        font-size: 50px;
    }

    .rounded-img{
        width: 300px;
    }

    .index-logo{
        width: 225px;
    }


    /* ABOUT */
    #about-para{
        font-size: 16px;
    }

    #heart{
        font-size: 30px;
    }



    /* CALENDAR */
    .calendar{
        width: 600px;
        height: 400px;
    }

}

/* EXTRA SMALL SCREENS */
@media screen and (max-width: 767px) {

    /* GENERAL SECTIONS */
    .flex-section{
        gap: 1em;
    }
    
    .section{
        padding-left: 1em;
        padding-right: 1em
    }

    /* NAV */
    nav{
        display: none;
    }

    .openbtn{
        display: block;
        padding: 0.5em 0.75em 0.25em 0.75em;
    }

    .menu-text{
        font-size: 10px;
    }

    .fa-bars{
        font-size: 30px;
    }

    /* FOOTER */
    .footer-contact a{
        font-size: 14px;
    }

    /* GENERAL TYPOGRAPHY */
    h1{
        font-size: 17px;
    }
    
    h2{
        font-size: 14px;
    }

    h3{
        font-size: 13px;
    }

    #below{
        font-size: 10px;
        text-align: center;
    }

    h4{
        font-size: 13px;
    }
    
    p{
        font-size: 12px;
    }

    a{
        font-size: 12px;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        gap: 2em;
        height: 200px;
    }

    /* INDEX */
    .index-hero-text{
        width: 300px;
    }

    .index-hero-text h3{
        font-size: 10px;
    }
    
    .index-hero-text h1{
        font-size: 15px;
    }

    .bandname{
        font-size: 30px;
    }

    .rounded-img{
        width: 180px;
    }

    .index-logo{
        width: 150px;
    }


    /* ABOUT */
    .about-hero{
        height: 600px;
    }

    #about-para{
        font-size: 13px;
        line-height: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }

    #heart{
        font-size: 30px;
    }

    /* CALENDAR */
    .calendar{
        width: 300px;
        height: 300px;
    }
    
    /* CONTACT */
    #email{
        font-size: 13px;
    }
}